<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
		<form action="/matches/save" th:object="${match}" method="POST">
			<input type="text" placeholder="Match Description"
				th:field="${match.description}"> <input type="date"
				placeholder="Match Date" th:field="${match.match_date}">
			<!-- <input type="time" placeholder="Match Time" th:field="${match.match_time}">  -->
			<input type="text" placeholder="Team A" th:field="${match.team_a}">
			<input type="text" placeholder="Team B" th:field="${match.team_b}">
			<select th:field="${match.sport}">
				<option th:value="Football">Football</option>
				<option th:value="Basketball">Basketball</option>
			</select>
			<select th:field="${match.matchOdds}" multiple="multiple">
					<option th:each = "matchOdd : ${allMatchOdds}"
					        th:value = "${matchOdd.matchOddId}"
					        th:text  = "${matchOdd.specifier}">
					 </option>
			</select> 
			<button type="submit">Create Match</button>
		</form>
	</div>

</body>

</html>