<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
		<h3>Match Odds</h3>
		<hr>


		<a th:href="@{/matchOdds/new}" class="btn btn-primary btn-sm mb-3">Add
			MatchOdd</a> <br>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Specifier</th>
					<th>Odd</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="aMatchOdd : ${matchOddsList}">
					<td th:text="${aMatchOdd.specifier}" />
					<td th:text="${aMatchOdd.odd}" />
				</tr>
			</tbody>

		</table>
	</div>
</body>

</html>
